body {
	font: 75%/1.5 Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
table.report {
	border-collapse:collapse; 
	margin-bottom:20px; 
	border: 1px solid #EBEBEB;
}
table.report th {
	background:#5762D7 repeat-x scroll center left; 
	color:#fff; padding:6px 12px; 
	text-align:center;
	font-size:11px;
}
table.report td {
	scroll center left; 
	color:#000; 
	padding: 6px 12px;
	font-size:10.5px;
}