.td 
{
	overflow:hidden;
}
.rightborder
{
	border-right-style: dotted; 
	border-right-color: silver; 
	border-right-width: 2px
}
.report_printing 
{
	font-family: Verdana;
	font-size: 10px;
}
.tableheader 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}
.bluetable
{
    BORDER-RIGHT: #c4ccfb 1px dashed;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #c4ccfb 1px dashed;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #c4ccfb 1px dashed;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #c4ccfb 1px dashed;
    BACKGROUND-COLOR: #f1f3fe
}

.redtable
{
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
    BORDER-RIGHT: #ffa466 1px dashed;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #ffa466 1px dashed;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #ffa466 1px dashed;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #ffa466 1px dashed
}
.table_red_background {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
}
.main {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.5px;
}
.formal {
	font-family: Times New Roman;
	font-size: 12px;
}
a.main: link {
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}
a.main: active {
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}
a.main: visited {
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}
a.main: hover {
	color: #0066FF;
	font-weight: bold;
	text-decoration: none;
}
.tablebg {
	/*background-color: #6600FF;*/
	background-color:#FF4415;
}
.tablebgred {
	background-color: #FF0000;
}
.formbutton {
	background-color: #CCCCCC;
	border: thin ridge #0066FF;
}
.whitelabelheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11.5px;
	color: #FFFFFF;
}
.whitelabelsmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 10px;
	color: #FFFFFF;
}
.whitelabel {
	color: #FFFFFF;
}
a.whitelabel: link {
	font-weight: bold;
	text-decoration: none;
}
a.whitelabel: active {
	font-weight: bold;
	text-decoration: none;
}
a.whitelabel: visited {
	font-weight: bold;
	text-decoration: none;
}
a.whitelabel: hover {
	color: #CCCCCC;
	font-weight: bold;
	text-decoration: none;
}
.redlabel {
	color: #CC0000;
}
.redlabelheader {
	font-weight: bold;
	font-size: 12px;
	color: #CC0000;
}
.formmain {
	background-color: #0099FF;
}
.blacklabelheader {
	font-weight: bold;
	font-size: 12px;
	color: #000000;
}
.blacklabel {
	font-weight: bold;
	color: #000000;
}
.optionlabel {
	font-family: Trebuchet MS;
	font-size: 11px;
	color: #000000;
}
.mouseover {
	background: #00FFFF;
}
.mouseout {
	background: #FFFFFF;
}
.standardbold 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.standard
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
a:link 
{
	text-decoration: none;
}
a:visited 
{
	text-decoration: none;
}
a:hover 
{
	text-decoration:underline;
}
a:active 
{
	color: #FF00FF;
	text-decoration: none;
}
.list
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	list-style-image: url('/workspaceGOP/images/arow_rt.gif'); 
}
#rounded-corner
{
	font-family: Verdana;
	font-size: 10px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#rounded-corner thead th.rounded-header
{
	background: #b9c9fe url('/workspaceGOP/images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
	background: #b9c9fe url('/workspaceGOP/images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 10px;
	color: #039;
	background: #b9c9fe;
}
#rounded-corner td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('/workspaceGOP/images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('/workspaceGOP/images/botright.png') right bottom no-repeat;
}

#rounded-corner tbody tr:hover td
{
	background: #d0dafd;
}

#rounded-add-entries
{
	font-family: Verdana;
	font-size: 10px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#rounded-add-entries thead th.rounded-header
{
	background: #b9c9fe url('/workspaceGOP/images/left.png') left -1px no-repeat;
}
#rounded-add-entries thead th.rounded-q4
{
	background: #b9c9fe url('/workspaceGOP/images/right.png') right -1px no-repeat;
}
#rounded-add-entries th
{
	padding: 8px;
	font-weight: normal;
	font-size: 10px;
	color: #039;
	background: #b9c9fe;
}
#rounded-add-entries td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	color: #669;
}
#rounded-add-entries tfoot td.rounded-foot-left
{
	background: #e8edff url('/workspaceGOP/images/botleft.png') left bottom no-repeat;
}
#rounded-add-entries tfoot td.rounded-foot-right
{
	background: #e8edff url('/workspaceGOP/images/botright.png') right bottom no-repeat;
}
#rounded-add-entries tbody tr:hover td
{
	background: #d0dafd;
}


#rounded-search-table
{
	font-family: Verdana;
	font-size: 10px;
	width: 20%;
	text-align: left;
	border-collapse: collapse;
}
#rounded-search-table thead th.rounded-header
{
	background: #b9c9fe url('/workspaceGOP/images/left.png') left -1px no-repeat;
}
#rounded-search-table thead th.rounded-q4
{
	background: #b9c9fe url('/workspaceGOP/images/right.png') right -1px no-repeat;
}
#rounded-search-table th
{
	padding: 8px;
	font-weight: normal;
	font-size: 10px;
	color: #039;
	background: #b9c9fe;
}
#rounded-search-table td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #669;
}
#rounded-search-table  tfoot td.rounded-foot-left
{
	background: #e8edff url('/workspaceGOP/images/botleft.png') left bottom no-repeat;
}
#rounded-search-table  tfoot td.rounded-foot-right
{
	background: #e8edff url('/workspaceGOP/images/botright.png') right bottom no-repeat;
}

#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('/workspaceGOP/images/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#gradient-style td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('/workspaceGOP/images/gradback.png') repeat-x;
}
#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-style tbody tr:hover td
{
	background: #d0dafd url('/workspaceGOP/images/gradhover.png') repeat-x;
	color: #339;
}