.menu ul{
margin: 0;
padding: 0;
font: bold 10px Verdana;
list-style-type: none;
background: url(/workspaceGOP/images/chromebg-over.gif) center center repeat-x;
overflow: hidden;
width: 100%;
border: 1px solid #BBB;
}

.menu li{
display: inline;
margin: 0;
}

.menu li a{
float: left;
display: block;
font: bold 10px Verdana;
margin: 1;
padding: 6px 8px; /*padding inside each tab*/
border-right: 2px solid white; /*right divider between tabs*/
color: #494949;
background: url(/workspaceGOP/images/chromebg-over.gif) center center repeat-x;
}

.menu li a:visited{
background: url(/workspaceGOP/images/chromebg-over.gif) center center repeat-x;
}

.menu li a:hover{
background: url(/workspaceGOP/images/chromebg.gif) center center repeat-x;
}

.menu a.selected{
background: url(/workspaceGOP/images/chromebg-over.gif) center center repeat-x;
}