body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  color: darkgrey;
  background: #f3f3f3;
  font-size: 12px;
}

.container {
  max-width: 960px;
  width: 96%;
  margin: auto;
}

header {
  background: #fff;
  margin-button: 28px;
  overflow: hidden;
}

.logo {
  float: left;
  margin-top: 10px;
}

.content article {
  float: left;
  width: 600px;
}
